<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <% if(user){ %>
            <p>Username: <%= user.username %>, (<%= user.role %>) <a href="/log-out">Log out</a></p>
        <% } %>
        <h1>Homepage</h1>
        <% if(user?.role === 'member' || user?.role === 'admin'){ %>
            <a href='/create'>Create a post</a>
        <% }else if(user?.role==='user'){ %>
            <a href='/join-club'>Join the club</a>
        <% }else{ %>
            <a href='/sign-up'>Sign in</a>
            <a href="/log-in">Log in</a>
        <% } %>       
        <% posts.forEach(post=>{ %>
            <article>
                <p>User: <strong><%= post.username %> </strong>
                    <span>- <%= post.created_at.toLocaleString('en-GB', {
                        day: '2-digit',
                        month: 'short',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                        }) %>
                    </span>
                </p>
                <p>
                    <% if (user?.role === 'member' || user?.role === 'admin') { %>
                        <%= post.message %>
                    <% } else { %>
                        This post is being hidden. Only members can see it!.
                    <% } %>
                </p>
                <% if(user?.role==='admin'){ %>
                    <form action='/delete/<%= post.post_id %>' method='post'>
                        <button type="submit" onclick="return confirm('Are you sure to delete this post?');">Delete</button>
                    </form>
                <% } %>
            </article>
        <% }) %>
    </body>
</html>